@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Role List";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Role List</h2>

<a asp-action="Create">Create Role</a>
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                <tr>
                    <td colspan="2">There is no role!</td>
                </tr>
                }
                @foreach (var role in Model)
                {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@role.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@role.Id" class="delete-item">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>