@model IEnumerable<ApplicationRole>

@{
    ViewData["Title"] = "Role List";
}

<h2>Role List</h2>

<a asp-action="Create">Create Role</a>
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(m => m.Name) </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => role.Name)</td>
                        <td>
                            <a asp-action="Edit">Edit</a> |
                            <a asp-action="Delete" id="@role.Id" class="delete-item">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $('.delete-item').click(function (e) {
            confirm("Are you sure want delete this role ?");
            e.preventDefault();
            var anchor = $(this);
            var url = $(anchor).attr('href');
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                //data: JSON.stringify({ id: id }),
                dataType: 'json',
                processData: false,
                type: 'POST',
                url: url,
                success: function (result) {
                    if (result === true) {
                        $(anchor).parent('td').parent('tr').fadeOut('slow', function () {
                            $(this).remove();
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ' ' + xmlHttpRequest.status + " " + errorThrown);
                }
            });
        });
    </script>
}